<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="https://yastatic.net/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel='stylesheet' type="text/css" href='styles/normalize.css' />
    <link rel='stylesheet' type="text/css" href='styles/colors.css' />
    <link rel='stylesheet' type="text/css" href='styles/style.css' />
    <script src="scripts/require.js" type="text/javascript" data-main="scripts/app" ></script>
  </head>
  <body>
    <div id="map"></div>
  </body>
</html>
