<div id='login-page' class='wrapper page'>
    <div class='container'>
        <form id="login-form" method="POST" action="/">
            <div>
                <label for='username'>username</label>
                <input id='username' name='username' type='text' required maxlength="50" autocomplete="username" />
            </div>
            <div>
                <label for='password'>password</label>
                <input id='password' name="password" type='password' required maxlength="50" autocomplete="current-password" />
            </div>
            <div>
                <button id='button' type='submit'>submit</button>
            </div>
        </form>
    </div>
</div>