:root {
    --schoolbus:  255, 225, 000; /* #FFE100 */
    --carnation:  244, 066, 095; /* #F4425F */
    --malachite:  006, 216, 095; /* #06D85F */
    --cerulean:   000, 164, 228; /* #00A4E4 */
    --vulcan:     016, 018, 029; /* #10121D */

    --white:      255, 255, 255; /* #FFFFFF */
    --black:      000, 000, 000; /* #000000 */
}