:root {
    --oxfordblue: 054, 064, 080; /* #364050 */
    --ebonyclay:  039, 046, 057; /* #272E39 */
    --mercury:    226, 226, 226; /* #E2E2E2 */

    --schoolbus:  255, 225, 000; /* #FFE100 */
    --carnation:  244, 066, 095; /* #F4425F */
    --malachite:  006, 216, 095; /* #06D85F */
    --cerulean:   000, 164, 228; /* #00A4E4 */
    --seashell:   241, 241, 241; /* #F1F1F1 */
    --nevada:     106, 115, 123; /* #6A737B */

    --white:      255, 255, 255; /* #FFFFFF */
    --black:      000, 000, 000; /* #000000 */
}